:root {
  font-family: "Karla", Helvetica, system-ui, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 10px;

  color-scheme: dark;
  color: #242424;
  background-color: #f4f0e9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Karla", Arial, sans-serif;
  margin: 0;
  display: flex;
  font-size: 16px;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: "Montserrat", serif;
  font-weight: 800;
  font-size: 3.2rem;
  line-height: 1.1;
}

  h1:first-child {
    margin-block-start: 0;
  }

a {
  font-weight: 500;
  color: #2ecc71;
  text-decoration: inherit;
}

a:hover {
  color: #27ae60;
}

form {
  min-width: 300px;
}

label {
  display: block;
  margin-block-end: 0.3rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  box-sizing: border-box;
  padding: 0.7rem 0.9rem;
  background-color: #FEFEFE;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  width: 100%;
  color: #242424;
  font: inherit;
}

input[type="text"]:focus,
input[type="text"]:focus-visible,
input[type="email"]:focus,
input[type="email"]:focus-visible,
input[type="password"]:focus,
input[type="password"]:focus-visible {
  outline: 1px solid #7f8c8d;
}

input[type="text"].s-error,
input[type="email"].s-error,
input[type="password"].s-error {
  border-color: #c0392b;
}

select {
  appearance: none;
  margin: 0;
  padding-block: 0.9rem;
  padding-inline: 0.9rem 3.8rem;
  width: 100%;
  color: #242424;
  font: inherit;
  background-color: #FEFEFE;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 640 640"><!--!Font Awesome Free v7.0.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M297.4 438.6C309.9 451.1 330.2 451.1 342.7 438.6L502.7 278.6C515.2 266.1 515.2 245.8 502.7 233.3C490.2 220.8 469.9 220.8 457.4 233.3L320 370.7L182.6 233.4C170.1 220.9 149.8 220.9 137.3 233.4C124.8 245.9 124.8 266.2 137.3 278.7L297.3 438.7z"/></svg>');
  background-position: right 0.9rem center;
  background-repeat: no-repeat;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
}

  select:focus,
  select:focus-visible {
    outline: 1px solid #7f8c8d;
  }

  /*
  TODO: Find optimal setup, still inconsistent accross browsers 
  select option:hover {
    background-color: #bdc3c7;
  }

  select option:checked {
    background-color: #2ecc71;
  } 
  */

select[multiple] {
  padding: 0;
  background-image: none;
}

  select[multiple] option {
    padding: 0.9rem;
  }

button {
  padding: 0.9rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #242424;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: border-color, background-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Layout */

#root {
  padding-block: 2rem;
  margin: 0 auto;
  max-width: 1280px;
}

.l-v-spacing-lv-3 {
  margin-bottom: 1.5rem;
}


/* Form Elements */

label.required-field:after {
  content: "*";
  color: #c0392b;
}

.field-error {
  color: #c0392b;
}

input + .field-error {
  margin-block-start: 0.3rem;
}

/* Card */

.card {
  padding: 2rem;
  background-color: #FFF;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
}


/* Button */

.btn-primary {
  background-color: #2ecc71;
}

.btn-primary:hover {
  background-color: #27ae60;
}

.btn-full {
  box-sizing: border-box;
  width: 100%;
}


/* State & Utilities */

.u-text-align-center {
  text-align: center;
}


/* 
TODO: Investigate more for light/dark mode feature
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} 
*/